<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="partials/head"></head>
<body>
    <h1 class="page-title" th:text="${empire.name}"></h1>
<div class="container">
        <h2>Resources</h2>
    <div class="resources">
        <div class="resource">
            <span>
                <img th:src="@{/images/gold.svg}" width="30" alt=""/>
            </span>
            <span th:text="${empire.gold}"></span>
        </div>
        <div class="resource">
            <span>
                <img th:src="@{/images/wood.svg}" width="30" alt=""/>
            </span>
            <span th:text="${empire.wood}"></span>
        </div>

        <div class="resource">
            <span>
                <img th:src="@{/images/iron.svg}" width="30" alt=""/>
            </span>
            <span th:text="${empire.iron}"></span>
        </div>
    </div>
    <h1>Buildings</h1>
    <form th:action="@{/empire/buy-mine}" method="post" th:object="${mineBuy}">
        <span th:if="${canBuyMine == false}">You don't have enough resources to buy a new mine</span>
        <input type="submit" value="Buy Mine">
    </form>
    <div th:if="${#lists.isEmpty(empire.mines)}">
        <p>You still don't have any buildings</p>
    </div>
    <div th:each="mine : ${empire.mines}">
        <p>Mine</p>
        <p th:text="${mine.miningCapacity}"></p>
    </div>
</div>
</body>
</html>