<div class="container">
    <div class="row gap-3 justify-content-center">

        <div class="card" style="">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-2 ">
                    <h5 class="card-title">Garrison</h5>

                    <div class="bg-secondary rounded-pill px-4 py-2" th:insert="partials/resources-list :: resourceList(gold=180, iron=290, wood=540)"></div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col p-2 d-flex flex-column justify-content-center align-items-center border">
                            <img th:src="@{/images/archer.svg}" width="50" alt=""/>

                            <span class="text-secondary">Archer</span>
                        </div>
                        <div class="col p-2 d-flex flex-column justify-content-center align-items-center border">
                            <img th:src="@{/images/knight.svg}" width="50" alt=""/>
                            <span class="text-secondary">Knight</span>
                        </div>
                    </div>
                </div>

                <div class="text-center pt-2">
                    <div th:replace="components/building-form :: buildingForm(type=GARRISON)"></div>
                </div>
            </div>
        </div>

        <div class="card" style="">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-2 ">
                    <h5 class="card-title">Quarters</h5>

                    <div class="bg-secondary rounded-pill px-4 py-2" th:insert="partials/resources-list :: resourceList(gold=700, iron=540, wood=860)"></div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col p-2 d-flex flex-column justify-content-center align-items-center border">
                            <img th:src="@{/images/catapult.svg}" width="50" alt=""/>
                            <span class="text-secondary">Catapult</span>
                        </div>
                        <div class="col p-2 d-flex flex-column justify-content-center align-items-center border">
                            <img th:src="@{/images/pirate.svg}" width="50" alt=""/>
                            <span class="text-secondary">Pirate</span>
                        </div>
                    </div>
                </div>

                <div class="text-center pt-2">
                    <div th:replace="components/building-form :: buildingForm(type=QUARTERS)"></div>
                </div>
            </div>
        </div>

        <div class="card" style="">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-2 ">
                    <h5 class="card-title">Barracks</h5>

                    <div class="bg-secondary rounded-pill px-4 py-2" th:insert="partials/resources-list :: resourceList(gold=1500, iron=1800, wood=3800)"></div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col p-2 d-flex flex-column justify-content-center align-items-center border">
                            <img th:src="@{/images/ninja.svg}" width="50" alt=""/>
                            <span class="text-secondary">Ninja</span>
                        </div>
                        <div class="col p-2 d-flex flex-column justify-content-center align-items-center border">
                            <img th:src="@{/images/viking.svg}" width="50" alt=""/>
                            <span class="text-secondary">Viking</span>
                        </div>
                    </div>
                </div>

                <div class="text-center pt-2">
                    <div th:replace="components/building-form :: buildingForm(type=BARRACKS)"></div>
                </div>
            </div>
        </div>
    </div>
</div>