<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="partials/head"></head>
<body>
<h1 class="page-title">Players</h1>

<table class="bordered-table">
    <tr>
        <th>Empire</th>
        <th>Wins</th>
        <th>Gold</th>
        <th>Iron</th>
        <th>Wood</th>
        <th>Action</th>
    </tr>
    <tr th:each="empire:${empires}">
        <td th:text="${empire.getName()}"></td>
        <td th:text="${empireService.getEmpireWins(empire)}"></td>
        <td th:text="${empire.getGold()}"></td>
        <td th:text="${empire.getIron()}"></td>
        <td th:text="${empire.getWood()}"></td>
        <td><a class="btn" href="#">Attack</a></td>
    </tr>
</table>
</body>
</html>