<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="partials/head"></head>
<body>
    <h1 class="page-title">Sign Up</h1>
<form class="form-sign-up" th:action="@{/submit-user}" method="post" th:object="${user}">
    <div>
        <input type="text" th:field="*{username}" placeholder="Enter your Username">
        <div><span style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span></div>
        <div><span style="color: red" th:if="${existsUserByUsername}" th:text="|This username is taken|"></span></div>
    </div>
    <div>
        <input type="email" th:field="*{email}" placeholder="Enter your Email">
        <div><span style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span></div>
        <div><span style="color: red" th:if="${existsUserByEmail}" th:text="|Already exists account with this email|"></span></div>
    </div>
    <div>
        <input type="password" th:field="*{password}" placeholder="Enter your Password">
        <div><span style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span></div>
    </div>
    <div>
        <input type="password" th:field="*{repeatPassword}" placeholder="Repeat your Password">
        <div><span style="color: red" th:if="${#fields.hasErrors('repeatPassword')}" th:errors="*{repeatPassword}"></span></div>
        <div><span style="color: red" th:if="${comparePasswords}" th:text="|Passwords don't match|"></span></div>
    </div>
    <a th:href="@{/sign-in}">Already have account?</a>
    <div>
        <input type="submit" value="Sign Up">
    </div>
</form>
</body>
</html>