<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="partials/head"></head>
<body>
    <h1 class="page-title">Sign In</h1>
<form class="form-sign-in" th:action="@{/sign-in}" method="post">
    <div th:if="${param.error}">
        Invalid username or password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <div>
        <input type="text" name="usernameOrEmail" placeholder="Username or Email"/>
    </div>
    <div>
        <input type="password" name="password" placeholder="Enter your Password"/>
    </div>
    <div>
        <input type="submit" value="Sign In" class="btn btn-primary form-control" />
    </div>
</form>
</body>
</html>