<div>
    <div class="card" style="">
        <div class="card-body">
            <div class="d-flex justify-content-between mb-2 ">
                <h5 class="card-title">Garrison
                    (Level: <span th:text="${empireService.getGarrisonBuildings(empire).getLevel()}"></span>)
                </h5>
                <div th:replace="partials/resources-list :: resourceList(gold=180, iron=290, wood=540)"></div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col p-2 d-flex flex-column justify-content-center align-items-center border">
                        <img th:src="@{/images/archer.svg}" width="50" alt=""/>
                        <span class="text-secondary">Archer</span>
                    </div>
                    <div class="col p-2 d-flex flex-column justify-content-center align-items-center border">
                        <img th:src="@{/images/knight.svg}" width="50" alt=""/>
                        <span class="text-secondary">Knight</span>
                    </div>
                </div>
            </div>

            <div class="text-center pt-2">
                <div th:if="${empireService.getGarrisonBuildings(empire).getId() == null}">
                    <div th:replace="buildings/building-form :: buildingForm(type=GARRISON)"></div>
                </div>

                <div th:unless="${empireService.getGarrisonBuildings(empire).getId() == null}">
                    UPGRADE MEEEEE
                </div>
            </div>
        </div>
    </div>
</div>
