<div class="card" style="">
    <div class="card-body">
        <div class="d-flex justify-content-between mb-2 ">
            <h5 class="card-title">Quarters
                (Level: <span th:text="${empireService.getQuartersBuildings(empire).getLevel()}"></span>)
            </h5>

            <div th:replace="partials/resources-list :: resourceList(gold=700, iron=540, wood=860)"></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col p-2 d-flex flex-column justify-content-center align-items-center border">
                    <img th:src="@{/images/catapult.svg}" width="50" alt=""/>
                    <span class="text-secondary">Catapult</span>
                </div>
                <div class="col p-2 d-flex flex-column justify-content-center align-items-center border">
                    <img th:src="@{/images/pirate.svg}" width="50" alt=""/>
                    <span class="text-secondary">Pirate</span>
                </div>
            </div>
        </div>

        <div class="text-center pt-2">
            <div th:if="${empireService.getQuartersBuildings(empire).getId() == null}">
                <div th:replace="buildings/building-form :: buildingForm(type=QUARTERS)"></div>
            </div>

            <div th:unless="${empireService.getQuartersBuildings(empire).getId() == null}">
                UPGRADE MEEEEE
            </div>
        </div>
    </div>
</div>
